In [1]:
import psycopg2

In [2]:
def create_connection(db_name, db_user, db_password, db_host, db_port):
    connection = None
    try:
        connection = psycopg2.connect(
            database=db_name,
            user=db_user,
            password=db_password,
            host=db_host,
            port=db_port,
        )
        print("Connection to PostgreSQL DB successful")
    except OperationalError as e:
        print(f"The error '{e}' occurred")
    return connection

In [3]:
db_name = "Project1"
db_user = "postgres"
db_password = "postgres"  
db_host = "localhost"  
db_port = "5432"

In [4]:
connection = create_connection(db_name, db_user, db_password, db_host, db_port)

Connection to PostgreSQL DB successful

In [5]:
cursor = connection.cursor()

In [6]:
import pandas as pd

In [7]:
from sqlalchemy import create_engine

In [8]:
db_server = "dw_2024"

In [9]:
connection_string = f"postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"
engine = create_engine(connection_string)

In [10]:
print(engine)

Engine(postgresql+psycopg2://postgres:***@localhost:5432/Project1)

In [11]:
from pathlib import Path
script_path = Path.cwd().parent

In [12]:
data_path = script_path / "data" / "Project1"
countrycsv = data_path / "list-of-countries_areas-by-continent-2024.csv"

In [13]:
countrydf = pd.read_csv("./list-of-countries_areas-by-continent-2024.csv", header=None)

In [14]:
countrydf.columns = ["country", "continent"]

In [15]:
countrydf

              country      continent
0             country         region
1               India           Asia
2               China           Asia
3       United States  North America
4           Indonesia           Asia
..                ...            ...
230        Montserrat  North America
231  Falkland Islands  South America
232              Niue        Oceania
233           Tokelau        Oceania
234      Vatican City         Europe

[235 rows x 2 columns]

In [16]:
cursor.execute("CREATE TABLE olympicHosts (hostID VARCHAR(255) PRIMARY KEY, endDate TIMESTAMP WITH TIME ZONE, startDate TIMESTAMP WITH TIME ZONE, location VARCHAR(255), name VARCHAR(255), season VARCHAR(255), year INT);")

In [17]:
connection.commit()

In [25]:
olympic_hosts = pd.read_csv("./olympic_hosts.csv", header=0)

In [30]:
olympic_hosts['game_end_date'] = pd.to_datetime(olympic_hosts['game_end_date'], format='%Y-%m-%dT%H:%M:%SZ')

In [32]:
olympic_hosts['game_start_date'] = pd.to_datetime(olympic_hosts['game_start_date'], format='%Y-%m-%dT%H:%M:%SZ')

In [38]:
olympic_hosts['game_slug'] = olympic_hosts['game_slug'].astype(str)

In [42]:
olympic_hosts['game_year'] = pd.to_numeric(olympic_hosts['game_year'])

In [43]:
print(olympic_hosts.dtypes)

game_slug                  object
game_end_date      datetime64[ns]
game_start_date    datetime64[ns]
game_location              object
game_name                  object
game_season                object
game_year                   int64
dtype: object

In [46]:
olympic_hosts

,hostID,endDate,startDate,location,name,season,year
0,beijing-2022,2022-02-20 12:00:00,2022-02-04 15:00:00,China,Beijing 2022,Winter,2022
1,tokyo-2020,2021-08-08 14:00:00,2021-07-23 11:00:00,Japan,Tokyo 2020,Summer,2020
2,pyeongchang-2018,2018-02-25 08:00:00,2018-02-08 23:00:00,Republic of Korea,PyeongChang 2018,Winter,2018
3,rio-2016,2016-08-21 21:00:00,2016-08-05 12:00:00,Brazil,Rio 2016,Summer,2016
4,sochi-2014,2014-02-23 16:00:00,2014-02-07 04:00:00,Russian Federation,Sochi 2014,Winter,2014
5,london-2012,2012-08-12 19:00:00,2012-07-27 07:00:00,Great Britain,London 2012,Summer,2012
6,vancouver-2010,2010-02-28 04:00:00,2010-02-12 16:00:00,Canada,Vancouver 2010,Winter,2010
7,beijing-2008,2008-08-24 12:00:00,2008-08-08 00:00:00,China,Beijing 2008,Summer,2008
8,turin-2006,2006-02-26 19:00:00,2006-02-10 07:00:00,Italy,Turin 2006,Winter,2006
9,athens-2004,2004-08-29 18:00:00,2004-08-13 06:00:00,Greece,Athens 2004,Summer,2004
10,salt-lake-city-2002,2002-02-24 08:00:00,2002-02-08 15:00:00,United States,Salt Lake City 2002,Winter,2002
11,sydney-2000,2000-10-01 09:00:00,2000-09-15 01:00:00,Australia,Sydney 2000,Summer,2000
12,nagano-1998,1998-02-22 11:00:00,1998-02-06 23:00:00,Japan,Nagano 1998,Winter,1998
13,atlanta-1996,1996-08-05 21:00:00,1996-07-19 12:00:00,United States,Atlanta 1996,Summer,1996
14,lillehammer-1994,1994-02-27 19:00:00,1994-02-12 07:00:00,Norway,Lillehammer 1994,Winter,1994
15,barcelona-1992,1992-08-09 18:00:00,1992-07-25 06:00:00,Spain,Barcelona 1992,Summer,1992
16,albertville-1992,1992-02-23 19:00:00,1992-02-08 07:00:00,France,Albertville 1992,Winter,1992
17,seoul-1988,1988-10-02 10:00:00,1988-09-16 22:00:00,Republic of Korea,Seoul 1988,Summer,1988
18,calgary-1988,1988-02-28 03:00:00,1988-02-13 15:00:00,Canada,Calgary 1988,Winter,1988
19,los-angeles-1984,1984-08-12 19:00:00,1984-07-28 15:00:00,United States,Los Angeles 1984,Summer,1984
20,sarajevo-1984,1984-02-19 19:00:00,1984-02-08 07:00:00,Yugoslavia,Sarajevo 1984,Winter,1984
21,moscow-1980,1980-08-03 18:00:00,1980-07-19 05:00:00,USSR,Moscow 1980,Summer,1980
22,lake-placid-1980,1980-02-24 01:00:00,1980-02-13 13:00:00,United States,Lake Placid 1980,Winter,1980
23,montreal-1976,1976-07-31 22:00:00,1976-07-17 12:00:00,Canada,Montreal 1976,Summer,1976
24,innsbruck-1976,1976-02-15 19:00:00,1976-02-04 07:00:00,Austria,Innsbruck 1976,Winter,1976
25,munich-1972,1972-09-11 19:00:00,1972-08-26 07:00:00,Federal Republic of Germany,Munich 1972,Summer,1972
26,sapporo-1972,1972-02-13 11:00:00,1972-02-02 23:00:00,Japan,Sapporo 1972,Winter,1972
27,mexico-city-1968,1968-10-28 04:00:00,1968-10-12 16:00:00,Mexico,Mexico City 1968,Summer,1968
28,grenoble-1968,1968-02-18 19:00:00,1968-02-06 07:00:00,France,Grenoble 1968,Winter,1968
29,tokyo-1964,1964-10-24 11:00:00,1964-10-09 23:00:00,Japan,Tokyo 1964,Summer,1964
30,innsbruck-1964,1964-02-09 19:00:00,1964-01-29 07:00:00,Austria,Innsbruck 1964,Winter,1964
31,rome-1960,1960-09-11 19:00:00,1960-08-25 07:00:00,Italy,Rome 1960,Summer,1960
32,squaw-valley-1960,1960-02-28 04:00:00,1960-02-18 16:00:00,United States,Squaw Valley 1960,Winter,1960
33,melbourne-1956,1956-12-08 10:00:00,1956-11-21 22:00:00,"Australia, Sweden",Melbourne 1956,Summer,1956
34,cortina-d-ampezzo-1956,1956-02-05 19:00:00,1956-01-26 07:00:00,Italy,Cortina d'Ampezzo 1956,Winter,1956
35,helsinki-1952,1952-08-03 07:00:00,1952-07-19 07:00:00,Finland,Helsinki 1952,Summer,1952
36,oslo-1952,1952-02-25 19:00:00,1952-02-14 07:00:00,Norway,Oslo 1952,Winter,1952
37,london-1948,1948-08-14 19:00:00,1948-07-29 07:00:00,Great Britain,London 1948,Summer,1948
38,st-moritz-1948,1948-02-08 19:00:00,1948-01-30 07:00:00,Switzerland,St. Moritz 1948,Winter,1948
39,berlin-1936,1936-08-16 19:00:00,1936-08-01 07:00:00,Germany,Berlin 1936,Summer,1936
40,garmisch-partenkirchen-1936,1936-02-16 20:00:00,1936-02-06 08:00:00,Germany,Garmisch-Partenkirchen 1936,Winter,1936
41,los-angeles-1932,1932-08-14 19:00:00,1932-07-30 16:00:00,United States,Los Angeles 1932,Summer,1932
42,lake-placid-1932,1932-02-15 18:00:00,1932-02-04 13:00:00,United States,Lake Placid 1932,Winter,1932
43,amsterdam-1928,1928-08-12 19:00:00,1928-05-17 07:00:00,Netherlands,Amsterdam 1928,Summer,1928
44,st-moritz-1928,1928-02-19 08:00:00,1928-02-11 08:00:00,Switzerland,St. Moritz 1928,Winter,1928
45,paris-1924,1924-07-27 19:00:00,1924-05-04 07:00:00,France,Paris 1924,Summer,1924
46,chamonix-1924,1924-02-05 20:00:00,1924-01-25 08:00:00,France,Chamonix 1924,Winter,1924
47,antwerp-1920,1920-09-12 19:00:00,1920-04-20 07:00:00,Belgium,Antwerp 1920,Summer,1920
48,stockholm-1912,1912-07-27 20:00:00,1912-05-05 08:00:00,Sweden,Stockholm 1912,Summer,1912
49,london-1908,1908-10-31 20:09:00,1908-04-27 08:00:00,Great Britain,London 1908,Summer,1908
50,st-louis-1904,1904-11-24 02:00:00,1904-07-01 14:00:00,United States,St. Louis 1904,Summer,1904
51,paris-1900,1900-10-28 19:50:39,1900-05-14 08:50:39,France,Paris 1900,Summer,1900
52,athens-1896,1896-04-15 11:39:39,1896-04-06 11:38:39,Greece,Athens 1896,Summer,1896

In [48]:
olympic_hosts.columns = ["hostid", "enddate", "startdate","location","name","season","year"]

In [49]:
olympic_hosts.to_sql("olympichosts", con=engine, if_exists="append", index=False)

53